<h1>HELLO CRUD NODE JS</h1>
<hr>

<header>
    <nav>
        <ul>
            <li><a href="registrar">Registrar</a></li>
            <li><a href="deletar">Deletar</a></li>
            <li><a href="select">Select</a></li>
            {{!-- <li><a href="update">Update</a></li> --}}
        </ul>
    </nav>
</header>


