<form action="/controllerEdit" method="post">
    <input type="text" name="id" id="id" placeholder="Id:" value="{{id}}"><br>
    <input type="text" name="name" id="name" placeholder="Name:" value="{{name}}"><br>
    <input type="text" name="age" id="age" placeholder="Age:" value="{{age}}"><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" Value="Atualizar"><br>
</form>